.schedule {
  position: relative;
  background: hsla(40, 15%, 7.84%) no-repeat center;
}

.schedule_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.schedule_bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.schedule_bg::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 21, 17, 0.8);
  z-index: 2;
}

.schedule_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f8f7f5;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 100px 12px;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .schedule_wrapper {
    min-height: 100vh;
  }
}

.schedule_heading-intro {
  margin-bottom: 1.2rem;
  font-weight: 300;
}

.schedule_heading-title {
  font-size: clamp(2.2rem, 5vw, 3.8rem);
  max-width: 768px;
  margin-inline: auto;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
}

.schedule_inner {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .schedule_inner {
    flex-direction: column;
    gap: 40px;
  }
}

.schedule_items {
  padding-inline: 40px;
}

.schedule_items-text01 {
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  font-weight: 700;
}

.schedule_items-text02 {
  margin-top: 1rem;
  font-weight: 300;
}
