.local {
  padding: 60px 12px;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .local {
    padding: 100px 6rem;
  }
}

.local_container {
  display: grid;
  grid-template-columns: minmax(80px, 270px) minmax(200px, 420px) minmax(
      80px,
      270px
    );
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

@media screen and (max-width: 767px) {
  .local_container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.local_item {
  position: relative;
  text-align: center;
}

.local_item:nth-child(2) {
  position: relative;
  min-height: 630px;
}

.local_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .local_item:first-child {
    grid-row: 2/2;
  }

  .local_item:nth-child(2) {
    grid-row: 1/1;
    grid-column: 1/3;
    margin-inline: 40px;
    min-height: 420px;
  }
}

.local_heading-local {
  position: absolute;
  top: -10%;
  left: 50%;
  white-space: nowrap;
  text-transform: uppercase;
  transform: translateX(-50%);
  font-size: clamp(20px, 8vw, 70px);
  font-weight: 500;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .local_heading-local {
    top: -1.4rem;
  }
}

.local_item-text {
  margin-top: clamp(1rem, 2vw, 2rem);
  font-weight: 400;
  line-height: 1.6;
  font-size: clamp(0.8rem, 2vw, 1.6rem);
  text-transform: uppercase;
}
