.mv {
  padding: 40px 12px 100px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .mv {
    padding-bottom: 40px;
  }
}

.mv_container {
  display: grid;
  grid-template-columns: minmax(80px, 300px) minmax(200px, 420px) minmax(80px, 300px);
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

@media screen and (max-width: 767px) {
  .mv_container {
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
  }
}

.mv_item {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .mv_item:first-child {
    grid-row: 2/2;
  }

  .mv_item:nth-child(2) {
    grid-row: 1/1;
    grid-column: 1/3;
    padding-inline: 40px;
  }
}

.mv_heading-date {
  position: absolute;
  top: 0;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  font-size: clamp(42px, 8vw, 144px);
  font-weight: 300;
  z-index: 2;
}

@media screen and (max-width:767px) {
  .mv_heading-date {
    top: -1.5rem;
  }
}

.mv_heading-intro {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 20px;
  font: 400 5rem "Great Vibes", system-ui;
  font-size: clamp(1.8rem, 9vw, 4rem);
  color: #b44a4d;
  white-space: nowrap;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .mv_heading-intro {
    top: 100%;
    gap: 10px;
    font-size: clamp(1.8rem, 9vw, 4rem);

  }
}

.mv_icon {
  width: 40px;
  height: 36px;
  object-fit: contain;
}