.footer {
  padding: 20px 12px;
  text-align: center;
  background-color: #171511;
  color: #f8f7f5;
  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}